name: CI

on:
  push:
    branches: [master]
    paths:
      - bindings/**
      - binding.gyp
      - examples/**
      - src/**
      - test/**
      - grammar.js
  pull_request:
    branches: [master]
    paths:
      - bindings/**
      - binding.gyp
      - examples/**
      - src/**
      - test/**
      - grammar.js

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
    permissions:
      contents: read

    steps:
      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup tree-sitter
        uses: tree-sitter/setup-action/cli@eeb902ac2f1be576edc296309872cf476a209b7f # v2

      - name: Run tests
        uses: tree-sitter/parser-test-action@e9b2fecb014a7f8caa1a47316450d4e665132ed9 # v2
        with:
          test-go: true
          test-node: true
          test-python: true
          test-rust: true
          # TODO: enable once https://github.com/swift-actions/setup-swift/issues/694 is fixed.
          test-swift: false

      - name: Parse examples
        uses: tree-sitter/parse-action@f44ffa94f802024f27e821a72e6f2f3efc5dd521 # v4
        with:
          files: |-
            examples/Caddyfile
            examples/*.caddyfile
