name: Release

on:
  push:
    tags: ["v*"]

permissions:
  attestations: write
  id-token: write
  contents: write

jobs:
  github:
    uses: tree-sitter/workflows/.github/workflows/release.yml@5369718a08f77b4137e79f309a246e328e9459ad # main
    with:
      generate: true
      attestations: true

  crates:
    uses: tree-sitter/workflows/.github/workflows/package-crates.yml@5369718a08f77b4137e79f309a246e328e9459ad # main
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    with:
      generate: true

  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@5369718a08f77b4137e79f309a246e328e9459ad # main
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    with:
      generate: true

  pypi:
    uses: tree-sitter/workflows/.github/workflows/package-pypi.yml@67eb38f65e3a08dc2851fa8575ced44ff2857705 # main
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      generate: true
