name: Release

on:
  push:
    tags: ["v*"]

permissions:
  attestations: write
  id-token: write
  contents: write

jobs:
  github:
    uses: tree-sitter/workflows/.github/workflows/release.yml@9a10bab3d9bb66d2cc9283b65fad01ddca3ef62c # main
    with:
      generate: true
      attestations: true

  crates:
    uses: tree-sitter/workflows/.github/workflows/package-crates.yml@9a10bab3d9bb66d2cc9283b65fad01ddca3ef62c # main
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    with:
      generate: true

  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@9a10bab3d9bb66d2cc9283b65fad01ddca3ef62c # main
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    with:
      generate: true

  pypi:
    uses: tree-sitter/workflows/.github/workflows/package-pypi.yml@9a10bab3d9bb66d2cc9283b65fad01ddca3ef62c # main
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      generate: true
